[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
pandas = "*"
flask-executor = "*"
tpot = "*"
flask-cors = "*"
sweetviz = "*"
scikit-learn = "==0.23.2"

[dev-packages]

[requires]
python_version = "3.8"
