.table {
  margin: 10px auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2 {
  color: var(--docaposte-darkblue);
}

th {
  width: 200px;
}

th {
  color: var(--docaposte-darkblue);
}

td {
  text-align: center;
}

td, th {
  border: black solid 1px;
  margin: 0;
}
