.topbar {
  height: 100px;
  width: 100%;
}

.container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: auto;
}

.void {
  width: 150px;
}
