<ng-container *ngIf="config">
    <app-table [transit]="config"></app-table>

    <h2>Models</h2>

    <div class="models">
        <button *ngFor="let m of config.models; let index = index" matTooltipShowDelay=1000 [matTooltip]="m"
            [class]="m===model?'current':'button'" (click)="changeModel(m)">
            Model {{index + 1}}
        </button>
        <button class="button add" (click)="openDialog()" matTooltip="Add a new model">+</button>
    </div>
    <button *ngFor="let m of config.models; let index = index" matTooltipShowDelay=1000 [matTooltip]="m"
            [class]="m===model?'button':'button'" (click)="deleteModel(m)">
            Delete Model {{index + 1}}
        </button>

    <app-model *ngIf="model" [id]="model" [predictColumns]="getPredictColumns()"></app-model>

    <h2>DataViz</h2>
    <div class="gotoVizContainer" >
        <a class="gotoViz" [href]="'/dataviz/'+id">DataViz</a>
    </div>

</ng-container>