<h2 mat-dialog-title>Create new config</h2>
<mat-dialog-content>
    <button class="switch" mat-button (click)="config.model_type = 'classification'"
        [disabled]="config.model_type === 'classification'">Classification</button>
    <button class="switch" mat-button (click)="config.model_type = 'regression'"
        [disabled]="config.model_type === 'regression'">Regression</button>
    <table>
        <thead>
            <tr>
                <th *ngFor="let title of ['Column', 'Enabled', 'Label']">
                    <h2>{{title}}</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of config.columns | keyvalue">
                <td>
                    <div *ngIf="lints[o.key]; else noLint">
                        <button *ngIf="lintColor(lints[o.key]); let color" [class]="color" (click)="openLints(o.key)"
                            [matBadge]="lints[o.key].length" [matBadgeColor]="color" matBadgeSize="small">
                            {{o.key}}
                        </button>
                    </div>
                    <ng-template #noLint><button>{{o.key}}</button></ng-template>
                </td>
                <td>
                    <mat-checkbox [checked]="o.value" (change)="changeColumn(o.key, $event.checked)"></mat-checkbox>
                </td>
                <td>
                    <mat-checkbox [checked]="o.key === config.label" *ngIf='o.value'
                        (change)="changeLabel(o.key, $event.checked)">
                    </mat-checkbox>
                </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="cancel" mat-button mat-dialog-close>Cancel</button>
    <button class="create" mat-button [mat-dialog-close]="config" [disabled]="!config.label">Create</button>
</mat-dialog-actions>