.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 85%;
  margin: auto;
  height: 600px;
  margin-top: 80px;
}

.card {
  color: var(--docaposte-darkblue);
  font-size: larger;
}

.uploadCard {
  background-color: var(--docaposte-off-white);
  border: dashed thin var(--docaposte-lightblue);
  width: 95%;
  height: 200px;
  margin: auto;
}

.listItem {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}

.index {
  display: inline;
  color: var(--docaposte-darkblue);
}
