<mat-card class="container">
    <mat-card-content>
        <mat-card class="card mat-elevation-z0">
            <mat-card-header>
                <mat-card-title>Import dataset</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="uploadCard mat-elevation-z0">
                    <mat-card-content class="rowUpload">
                        <span class="column">
                            <span class="uploadIconContainer">
                                <mat-icon inline="true" fontSet="material-icons-round">upload</mat-icon>
                            </span>
                            <i class="uploadText">Upload your files here</i>
                            <button class="uploadButton">Import Data</button>
                        </span>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
        <mat-card class="card mat-elevation-z0">
            <mat-card-header>
                <mat-card-title>Select dataset from library</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list *ngIf="datasets">
                    <ng-container *ngFor="let dataset of datasets; let index = index">
                        <mat-list-item>
                            <div class="rowList listItem">
                                <span>
                                    <h3 class="index">{{index}}</h3>
                                    <span class="name">{{dataset}}</span>
                                </span>
                                <span class="actions">
                                    <span class="size">100kb</span>
                                    <mat-icon>delete_outline</mat-icon>
                                    <button matStepperNext>
                                        <mat-icon>keyboard_arrow_right</mat-icon>
                                    </button>
                                </span>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>