.table {
  margin: 10px auto;
}

table {
  border-collapse: collapse;
}

th {
  width: 200px;
  color: var(--docaposte-darkblue);
}

td {
  text-align: center;
  padding: 10px 0;
}

td,
th {
  border: black solid 1px;
}

.lint {
  color: red;
  font: 16px Roboto, "Helvetica Neue", sans-serif;
}
