[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
pandas = "*"
tpot = "*"
flask-cors = "*"
sweetviz = "*"
scikit-learn = "==0.23.2"
dask = {extras = ["dataframe"], version = "*"}
dask-ml = "*"
fsspec = ">=0.3.3"
distributed = ">=2.10.0"
bokeh = ">=0.13.0"
mongoengine = "*"
shap = "==0.37"

[dev-packages]

[requires]
python_version = "3.8"
