<ng-container *ngIf="model">
    <div *ngFor="let conf of model.model_config | keyvalue">
        {{conf.key}} {{conf.value}}
    </div>

    <div>
        <button class="button" [disabled]="status !== 'not started'" (click)="launchTrain()">train ({{status}})</button>
        logs
        <pre>{{logs}}</pre>
    </div>
    <button class="button" [disabled]="status !== 'done'" (click)="export()">export</button>
    <button class="button" [disabled]="status !== 'done'" (click)="openPredict()">predict</button>
    <label for="file">Choose File: </label>
    <input type="file" id="file" (change)="setFile($event)">
    <button class="button" [disabled]="status !== 'done' || !predictFile" (click)="csv_predict()">predict with
        file</button>
    <div *ngIf="predictResult !== undefined">
        last prediction results:
        <div *ngFor="let pred of predictResult">
            <p *ngFor="let p of pred | keyvalue">
                {{p.key}} : {{p.value}}
            </p>
        </div>
    </div>
</ng-container>