<ng-container *ngIf="id">
    <div class="row container">
        <div *ngIf="dataset && model">
            <h2>Results of training</h2>

            <p>The model trained on dataset <em>{{dataset}}</em> and achieved theses results:</p>
            <table mat-table id="metricsTable" [dataSource]="metrics.asObservable()">
                <ng-container matColumnDef="metric">
                    <th mat-header-cell *matHeaderCellDef> Metric </th>
                    <td mat-cell *matCellDef="let element"> {{element.metric}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.value | number}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="metricsColumnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: metricsColumnsToDisplay;"></tr>
            </table>
        </div>
        <img [src]="matrix_image">
        <img [src]="shap_image">
    </div>
</ng-container>
<div class="row">
    <button class="prev" mat-flat-button matStepperPrevious color="primary">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="divider"></div>
    <button class="prev1" mat-flat-button (click)="export()" color="primary">Export Pipeline</button>
    <div class="divider"></div>
    <button class="prev2" mat-flat-button (click)="predictCSV()" color="primary">Predict with CSV</button>
</div>
