.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}

.mat-flat-button.mat-primary {
  background-color: #0000ff;
  margin-top: 10px;
  padding: 12px 32px;
  border-radius: 29px;
}

.divider {
  width: 30%;
  height: auto;
  display: inline-block;
}
