.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}

.mat-flat-button.mat-primary {
  background-color: #0000ff;
  margin-top: 10px;
}

.divider {
  height: auto;
  display: inline-block;
}

.prev {
  color: white;
  background-color: var(--docaposte-blue);
  position: absolute;
  left: 25px;
  bottom: 20px;
}

.prev1 {
  color: white;
  background-color: var(--docaposte-blue);
  position: absolute;
  bottom: 20px;
  left: 45%;
}

.prev2 {
  color: white;
  background-color: var(--docaposte-blue);
  position: absolute;
  bottom: 20px;
  right: 25px;
}

#metricsTable td {
  padding: 5px;
}
