<table class="table">
    <thead>
        <tr>
            <th *ngFor="let title of ['Column', 'Enabled', 'Label']">
                <h2>{{title}}</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of transit.columns | keyvalue">
            <td>
                <div *ngIf="transit.lints && transit.lints[o.key]; else notLint">
                    <button *ngIf="lintContainsbad(transit.lints[o.key]); let color" [class]="color"
                        [matBadge]="transit.lints[o.key].length" [matBadgeColor]="color" matBadgeSize="small"
                        (click)="openLints(o.key)">
                        {{o.key}}
                    </button>
                </div>
                <ng-template #notLint><button>{{o.key}}</button></ng-template>
            </td>
            <td>
                <mat-checkbox [disabled]="!transit.dispatch" [checked]="o.value"
                    (change)="handleCheck(o.key, $event.checked)"></mat-checkbox>
            </td>
            <td>
                <mat-checkbox [disabled]="!transit.dispatch" [checked]="o.key === transit.label" *ngIf='o.value'
                    (change)="changeLabel(o.key)">
                </mat-checkbox>
            </td>
        </tr>
    </tbody>
</table>
classification <mat-slide-toggle [disabled]="!transit.dispatch" [checked]="transit.model_type === 'regression'"
    (change)="changeType($event.checked)">regression</mat-slide-toggle>
