.rectangle {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 20%;
    bottom: 5%;

    background: #FFFFFF;

    /* Drop Shadow / Default */
    box-shadow: 0px 0px 0px rgba(0, 0, 46, 0.06), 0px 1px 4px rgba(0, 0, 45, 0.1), 0px 1px 10px rgba(0, 0, 45, 0.06);
    border-radius: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.top-rectangle {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 50%;

    background: #FFFFFF;
    border: 1px solid #3F9BF0;

    /* Drop Shadow / Default */
    box-shadow: 0px 0px 0px rgba(0, 0, 46, 0.06), 0px 1px 4px rgba(0, 0, 45, 0.1), 0px 1px 10px rgba(0, 0, 45, 0.06);
    border-radius: 8px;
    }

.bottom-rectangle {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 55%;
    bottom: 10%;
}

.list {
    top: 55%;
    bottom: 95%;
}

.example-form {
    left: 10%;
    right: 60%;
    top: 5%;
    bottom: 95%;
}

.mat-flat-button.mat-primary {
    background-color: #0000FF;
    height: 90%;
    width: 20%;
    margin-top: 10px;
    padding: 12px 32px;
    border-radius: 29px;
}

.card {
    color: var(--docaposte-darkblue);
    font-size: larger;
  }