<div class="rectangle">
    <div class="top-rectangle">
        <div class="row">
            <div class="column contain-opt">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Generations</mat-label>
                        <input matInput placeholder="Ex: 100" value="100">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Population</mat-label>
                        <input matInput placeholder="Ex: 100" value="100">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>OffSpring</mat-label>
                        <input matInput placeholder="Ex: 100" value="100">
                    </mat-form-field>
                </form>
            </div>
            <div class="column contain-opt">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Mutation Rate</mat-label>
                        <input matInput placeholder="Ex: 100" value="100">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Crossover Rate</mat-label>
                        <input matInput placeholder="Ex: 100" value="100">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Subsample</mat-label>
                        <input matInput placeholder="Ex: 100" value="100">
                    </mat-form-field>
                </form>
            </div>
            <div class="column contain-opt">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Early Stop</mat-label>
                        <input matInput placeholder="Ex: 100" value="100">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Config Dict</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let config of configDictOptions" [value]="config">
                            {{config}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field><mat-form-field appearance="fill">
                        <mat-label>Scoring</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let config of scoringOptions" [value]="config">
                            {{config}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </form>
            </div>
            <button mat-flat-button matStepperNext color="primary">Create</button>
        </div>
    </div>
    <div class="bottom-rectangle">
        <mat-card-header>
            <mat-card-title>Select Model to use</mat-card-title>
        </mat-card-header>
        <mat-nav-list id="list">
            <mat-list-item *ngFor="let config of scoringOptions; let index = index">
            <a matLine href="...">{{index}} - {{ config }}</a>
            <button mat-icon-button>
                    <!-- (click)="showInfo(food)" -->
                <mat-icon>info</mat-icon>
            </button>
            <button mat-icon-button>
                    <!-- (click)="showInfo(food)" -->
                    <mat-icon>delete_outline</mat-icon>
            </button>
            <button matStepperNext mat-icon-button>
                    <!-- (click)="showInfo(food)" -->
                    <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>