:root {
  --docaposte-lightblue: #3970e6;
  --docaposte-blue: #0000cc;
  --docaposte-darkblue: #00008c;
  --docaposte-off-white: #f8f8fb;
  --docaposte-grey: #dcdcdf;
}

h1,
h2,
h3 {
  color: var(--docaposte-blue);
}
