.mat-card-content {
  font-size: 16px;
}
.mat-card-title {
  font-size: 20px;
}
.mat-icon {
  vertical-align: middle;
}

.container {
  width: 85%;
  margin: auto;
  height: 600px;
}

.card, .cardMain {
  color: var(--docaposte-darkblue);
  height: 100%;
  font-size: larger;
}

.cardMain {
  color: white;
  background-color: var(--docaposte-darkblue);
}

.cardButton {
  color: white;
  text-align: left;
  padding: 0;
  height: 46%;
}

.big {
  height: 100%;
}

.big .mat-card-title {
  font-size: 35px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 32%;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-flat-button.mat-primaryx {
  background-color: var(--docaposte-darkblue);
  float: right;
  margin-right: 10%;
  margin-top: 10px;
}

.uploadCard {
  background-color: lightgrey;
  border: dashed thin blue;
  width: 95%;
  height: 200px;
  margin: auto;
}

.listItem {
  width: 100%;
}
