iframe {
  border: none;
  width: 100%;
  height: 650px;
  margin-top: 50px;
}

.mat-flat-button.mat-primary {
  background-color: var(--docaposte-blue);
  position: absolute;
  right: 25px;
  bottom: 20px;
}
