.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.example-form {
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
}

.container {
  padding: 10px 10px 10px 10px;
}

.mat-flat-button.mat-primary {
  background-color: var(--docaposte-blue);
  height: 90%;
  width: 20%;
  margin-top: 10px;
  padding: 12px 32px;
  border-radius: 29px;
}

.pad {
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
}

.create {
  left: 10px;
  background-color: #3775fc;
  color: white;
  height: 100%;
  font-size: 28px;
  padding: 92px 46px;
}