<div class='content'>
    <div class='column'>
        <form class="example-form">
            <div class='row'>
                <mat-form-field class="example-full-width">
                    <mat-label>Generations</mat-label>
                    <input min="1" type="number" matInput placeholder="Ex: 100" value="data.generations" [value]="configure">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="example-full-width">
                    <mat-label>Population</mat-label>
                    <input min="0" type="number" matInput placeholder="Ex: 100" value="data.population_size" [value]="configure">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="example-full-width">
                    <mat-label>OffSpring</mat-label>
                    <input min="0" type="number" matInput placeholder="Ex: 100" value="data.offspring_size" [value]="configure">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class='column'>
        <form class="example-form">
            <div class='row'>
                <mat-form-field class="example-full-width">
                    <mat-label>Mutation Rate</mat-label>
                    <input min="0.0" max="1.0" step="0.1" type="number" matInput placeholder="Ex: 100" value="data.mutation_rate" [value]="configure">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="example-full-width">
                    <mat-label>Crossover Rate</mat-label>
                    <input min="0.0" max="1.0" step="0.1" type="number" matInput placeholder="Ex: 100" value="data.crossover_rate" [value]="configure">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="example-full-width">
                    <mat-label>Subsample</mat-label>
                    <input min="0.0" max="1.0" step="0.1" type="number" matInput placeholder="Ex: 100" value="data.subsample" [value]="configure">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class='column'>
        <form class="example-form">
            <div class='row'>
                <mat-form-field class="example-full-width">
                    <mat-label>Early Stop</mat-label>
                    <input min="0" [max]="data.generations" type="number" matInput placeholder="Ex: 100" value="data.early_stop" [value]="configure">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field appearance="fill">
                    <mat-label>Config Dict</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let config of configDictOptions" [value]="configure">{{config}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field appearance="fill">
                    <mat-label>Scoring</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let config of scoringOptions" [value]="configure">{{config}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class='column'>
        <div class='row'>
            <mat-dialog-actions align="end">
                <button class="create" mat-button [mat-dialog-close]="data" color="primary">Create</button>
            </mat-dialog-actions>
        </div>
    </div>
</div>