<div class='content'>
    <div class='column'>
        <form class="example-form">
            <div class='row'>
                <mat-form-field class="container">
                    <mat-label>Generations</mat-label>
                    <input min="1" type="number" matInput placeholder="Ex: 100" [value]="data.generations"
                        (change)="configure('generations', $event.target)">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="container">
                    <mat-label>Population</mat-label>
                    <input min="0" type="number" matInput placeholder="Ex: 100" [value]="data.population_size"
                        (change)="configure('population_size', $event.target)">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="container">
                    <mat-label>OffSpring</mat-label>
                    <input min="0" type="number" matInput placeholder="Ex: 100" [value]="data.offspring_size"
                        (change)="configure('offspring_size', $event.target)">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class='column'>
        <form class="example-form">
            <div class='row'>
                <mat-form-field class="container" >
                    <mat-label>Mutation Rate</mat-label>
                    <input min="0.0" max="1.0 - data.crossover_rate" step="0.1" type="number" matInput
                        placeholder="Ex: 100" [value]="data.mutation_rate"
                        (change)="configure('mutation_rate', $event.target)">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="container">
                    <mat-label>Crossover Rate</mat-label>
                    <input min="0.0" max="1.0 - data.mutation_rate" step="0.1" type="number" matInput
                        placeholder="Ex: 100" [value]="data.crossover_rate"
                        (change)="configure('crossover_rate', $event.target)">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="container">
                    <mat-label>Subsample</mat-label>
                    <input min="0.0" max="1.0" step="0.1" type="number" matInput placeholder="Ex: 100"
                        [value]="data.subsample" (change)="configure('subsample', $event.target)">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class='column'>
        <form class="example-form">
            <div class='row'>
                <mat-form-field class="container">
                    <mat-label>Early Stop</mat-label>
                    <input min="0" [max]="data.generations" type="number" matInput placeholder="Ex: 100"
                        [value]="data.early_stop" (change)="configure('early_stop', $event.target)">
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="container">
                    <mat-label>Config Dict</mat-label>
                    <mat-select (selectionChange)="configureConfigDict($event.value)">
                        <mat-option *ngFor="let config of configDictOptions" [value]="config">
                            {{config}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class='row'>
                <mat-form-field class="container">
                    <mat-label>Scoring</mat-label>
                    <mat-select (selectionChange)="configureScoring($event.value)">
                        <mat-option *ngFor="let scoring of scoringOptions" [value]="scoring">
                            {{scoring}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class='column'>
        <div class='row'>
            <mat-dialog-actions align="end">
                <button class="create" mat-button [mat-dialog-close]="data" color="primary"
                    [disabled]="wrong()">Create</button>
            </mat-dialog-actions>
        </div>
    </div>
</div>
