<div class="rectangle">
    <div class="row">
        <div class="column contain-opt">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Generations</mat-label>
                    <input matInput placeholder="Ex: 100" value="100">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Population</mat-label>
                    <input matInput placeholder="Ex: 100" value="100">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>OffSpring</mat-label>
                    <input matInput placeholder="Ex: 100" value="100">
                </mat-form-field>
            </form>
        </div>
        <div class="column contain-opt">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Mutation Rate</mat-label>
                    <input matInput placeholder="Ex: 100" value="100">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Crossover Rate</mat-label>
                    <input matInput placeholder="Ex: 100" value="100">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Subsample</mat-label>
                    <input matInput placeholder="Ex: 100" value="100">
                </mat-form-field>
            </form>
        </div>
        <div class="column">
            <h3>1</h3>
            <h3>2</h3>
            <h3>3</h3>
            <h3>4</h3>
        </div>
        <!-- <button mat-flat-button matStepperNext color="primary">Create</button> -->
    </div>
<!-- <div class="row">
    <div class="column contain-opt">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Generations</mat-label>
                <input matInput placeholder="Ex: 100" value="100">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Population</mat-label>
                <input matInput placeholder="Ex: 100" value="100">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>OffSpring</mat-label>
                <input matInput placeholder="Ex: 100" value="100">
            </mat-form-field>
        </form>
    </div>
    <div class="column contain-opt">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Mutation Rate</mat-label>
                <input matInput placeholder="Ex: 100" value="100">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Crossover Rate</mat-label>
                <input matInput placeholder="Ex: 100" value="100">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Subsample</mat-label>
                <input matInput placeholder="Ex: 100" value="100">
            </mat-form-field>
        </form>
    </div>
    <div class="column contain-opt">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Early Stop</mat-label>
                <input matInput placeholder="Ex: 100" value="100">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Config Dict</mat-label>
                <mat-select>
                    <mat-option *ngFor="let config of configDictOptions" [value]="config">{{config}}</mat-option>
                </mat-select>
            </mat-form-field><mat-form-field appearance="fill">
                <mat-label>Scoring</mat-label>
                <mat-select>
                    <mat-option *ngFor="let config of scoringOptions" [value]="config">{{config}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <button mat-flat-button matStepperNext color="primary">Create</button>
</div> -->
</div>