.container {
  width: 85%;
  margin: auto;
  height: 600px;
  margin-top: 80px;
}

.card {
  color: var(--docaposte-darkblue);
  font-size: larger;
}

.logs {
  background-color: black;
  color: white;
  white-space: pre-wrap;
  height: 404px;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.trainContentElement {
  margin: auto;
}

.trainContent {
  display: flex;
}
