<mat-card class="container" *ngIf="model">
  <mat-card-content>
    <mat-card class="card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Train Model</mat-card-title>
      </mat-card-header>
      <mat-card-content class="trainContent">

        <span class="trainContentElement" [ngSwitch]="model.status">

          <button *ngSwitchCase="'not started'" color="primary" mat-flat-button (click)="train()">
            Launch training
          </button>

          <div *ngSwitchCase="'starting'">
            Training is starting ...
          </div>

          <div *ngSwitchCase="'started'">
            Training in progress ...
          </div>

          <div *ngSwitchCase="'done'">
            Model has done training.
          </div>

          <div *ngSwitchCase="'error'">
            An error occured.
            <button color="primary" mat-flat-button (click)="train()">Retry</button>
          </div>

          <div *ngSwitchDefault>
            An error occured.
          </div>

        </span>

        <p *ngIf="['starting', 'started'].includes(model.status)">
            <a href="http://localhost:8787/status">See Dask status</a>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Training Logs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <pre class="logs">{{logs}}</pre>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
