<ng-container *ngIf="config">
    <app-table [transit]="config"></app-table>

    <h2>Models</h2>

    <div class="models">
        <button *ngFor="let m of config.models; let index = index" matTooltipShowDelay=1000 [matTooltip]="m"
            [class]="m===model?'current':'button'" (click)="changeModel(m)">
            Model {{index + 1}}
        </button>
        <button class="button add" (click)="openDialog()" matTooltip="Add a new model">+</button>
    </div>

    <app-model *ngIf="model" [id]="model"></app-model>

    <h2>Data Viz</h2>
    <iframe [src]="sweetviz()" width="100%" height="1000px"></iframe>
</ng-container>